{% extends 'base.html' %}
{% block title %} Загрузите csv {% endblock %}
{% block content %}
{% csrf_token %}
<div class="row">
    <div class="row">
    	<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    		<label>
    			<span>Приложите CSV файл</span>
        		<input type="file" name="csv_file" required="" id="id_csv_file" accept="text/csv">
    		</label>
    		<button type="submit">Загрузка</button>
    		<div>
    			{{ msg }}
    		</div>
    	</form>
    </div>
</div>
{% endblock %}