{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
        <h4 class="text-center"> Welcome {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %} </h4>
        <div>
            Данное web-приложение разработано для автоматического
            определения ключевых слов и аннотирования текстовой информации из открытых источников
            для решения задачи информационного поиска. Данное приложение на работу с научными статьями.
        </div>
        <br>
        <div>
            Раздел <b>"Поиск"</b> предназначен для поиск в различных источника. Существет два основных режима: "Библиотека" и "ВКонтакте".
            Режим "Библиотека" предназначен для поиска в общей или личной библиотеках, поиск возможен по автору, ключевым словам и заголову.
            Режим "ВКонтакте" предназначен для поиска в добавленных группах, поиск возможен по всем группам и по определенной группе(необходимо через запятую указать
            сначала название группы и далее слово, по которому производиться поиск,нр "аналитика, когортный анализ")
            После выбора необходимых настроек и после ввода слова необходимо нажать на кнопку "Поиск".
            Далее будет показан результат поиска, при необходимости можно вернуться на исходную страницу нажав на "Назад".
        </div>
        <br>
        <div>
            Раздел  <b>"Загрузить"</b> предназначен для загрузки метаданных о статьях в личную библиотеку,
        чтобы в дальнейшем в ней можно было совершать поиск. Правила загрузки: файл должен быть формата csv или xlsx c разделителем ';',
        первый столбец - автор, далее название и ключевые слова. Для загрузки необхоимо нажать "Выберете файл" и после "Загрузить". Далее Вы окажитесь
        на странице для редакции. Для загрузки в базу данных нажмите на "Сохранить в БД".
            </div>
        <br>
        <div>
            Раздел  <b>"Найти похожие"</b> предназначен для аннотирования и выделения ключевых слов в одиночных текстах, а также для поиска похожих тектов.
            Необходимо вставить текст в первое поле ввода, далее либо самостоятельно заполнить поле "Клчючевые слова" и "Аннотация", либо создать их автоматически,
            нажав на кнопку "Создать". Режим мера сходства влияет на автоматическое аннотирование.
            Далее для поиска похожих статей необходимо выбрать место поиска, личная или общая библиотека, и нажать на "Найти похожие".
            Ниже появиться список 5ти похожих текстов.
        </div>
        <br>
        <div>
            Раздел  <b>"Личная библиотека"</b> предназначен для просмотра данных личной библиотеки. Можно удалить ненужные статьи, для этого напротив соответсвующей
            записи нажмите "Удалить".
        </div>
        <br>
        <div>
            Раздел  <b>"Список групп"</b> предназначен для просмотреа, удаления и обновления добавленных групп из "Вконтакте"
        </div>
        <br>
        <div>
            Раздел  <b>"Добавление группы"</b> предназначен для добавления групп из "Вконтакте".
            Для этого в пле ввода необходимо ввести id группы и нажать на 'Добавить'.
        </div>
            <br>
        <div>
            Раздел  <b>"Пакетная обработка"</b> предназначен для аннотирования и выделения ключевых слов большого количества текстов.
            Правила загрузки: файл должен быть формата csv или xlsx c разделителем ';',
        первый столбец - автор, далее название и текст. Для загрузки необхоимо нажать "Выберете файл" и после "Загрузить". Далее Вы окажитесь
        на странице для редакции. Для сохранения на ПК нажимите "Сохранить".
        </div>
         <br><br>
        <div>
            По возникающим вопросам и неподалкам писать на zaiceva.irinka@mail.ru.
        </div>
        <br>
</div>
{% endblock %}