{% extends 'base.html' %}
{% block title %} Ваша библиотека {{search_data}} {% endblock %}
{% block content %}
{% csrf_token %}
<div class="row">
    <div class="row">
    	{% if data|length > 0 %}
        <div>
            <form method="POST">
                <div class="flx">
                    <span class="header">
                        <b>Автор</b>
                    </span>
                    <span class="header">
                        <b>Название</b>
                    </span>
                    <span></span>
                 </div>
                {% for data in data %}
                    <div class="flx">
                        <span>{{ data.0 }}</span>
                        <span>{{ data.1 }}</span>
                        <span>
                            <button name="author" value={{ forloop.counter }}>Удалить</button>
                        </span>
                    </div>
                {% endfor %}
            </form>
        </div>
        {% elif data|length == 0 %}
        <h2>
        	Библиотека пуста
        </h2>
        {% endif %}
    </div>
    </div>
    <style type="text/css">
        .flx {
            display: flex;
            justify-content: center;
            border-left: 1px solid #000;
        }
        .flx:first-child {
            border-top: 1px solid #000;
            border-left: 1px solid #000;
        }
        .flx > span {
            flex: 1 1;
            border-bottom: 1px solid #000;
            padding: 5px;
        }
        span:last-child {
            border-right: 1px solid #000;
        }
        button {
            float: right;
            margin: 5px 10px;
        }
    </style>
{% endblock %}